asteval==1.0.6
cachetools==6.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
dill==0.4.0
dotenv==0.9.9
future==1.0.0
gcode-machine==1.0.3
grbl-streamer==2.0.2
idna==3.10
iso8601==2.1.0
multiprocess==0.70.18
numpy==2.3.1
pillow==11.3.0
pnoise==0.2.0
potracer==0.0.4
pyphen==0.14.0
pyserial==3.5
python-dotenv==1.1.1
PyYAML==6.0.2
requests==2.32.4
scipy==1.16.0
serial==0.0.97
shapely==2.1.1
svgelements==1.9.6
svgwrite==1.4.3
tomli==2.2.1
urllib3==2.5.0
vpype==1.14.0
vpype-gcode==0.13.0
